
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>hata</title>
    <style>
        body {
            font-family: Verdana, monospace, sans-serif;
            font-size: 12px;
            font-weight: bold;
            text-align: justify;
            background-color: azure;
            background-image: url('/wwwroot/NicepageTemplates/Site1/images/111756.jpg33222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222200000000000000000000000222');
            background-repeat: repeat;
            background-size: cover;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div><h1>Bu Sayfayı Görmek İçin Yetkiniz Bulunmamaktadır!!!</h1></div>

</body>
</html>